body {
  background-color: rgba(68, 140, 118, 0.527);
}
hr {
  border: dotted rgb(214, 214, 167);
  border-width: 10px 0px 0px;
  width: 30%;
}
img {
  border-radius: 100%;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcceb0;
  border-style: none;
  border-radius: 0px 185px;
}
h1 {
  letter-spacing: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(106, 77, 131);
}
h3 {
  text-decoration: underline;
  letter-spacing: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(106, 77, 131);
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  font-family: Arial, Helvetica, sans-serif;
}
ol {
  border-radius: 0px 75px;
  font-family: Arial, Helvetica, sans-serif;
}
